.header
  width: 100vw
  height: min(88px, 17.5vw)
  border-bottom: 1px solid $color-light
  display: grid
  place: center
  &__section
    width: 80vw
    margin: 0 auto
    display: flex
    justify-content: space-between
    align-items: center
    @media screen and (max-width: $tablet)
      width: 90vw
  &__logo
    width: min(74px, 18.75vw)


  